<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deployment Tracker</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <article class="container">
      <span class="glyphicon glyphicon-error" aria-hidden="true"></span>
      <h1>{{message}}</h1>
    </article>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
