<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deployment Tracker</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>IBM Cloud Deployment Tracker</h1>
        <p>This service is deprecated. Refer to the <a href="https://github.com/IBM-Bluemix/cf-deployment-tracker-service/wiki/Deployment-Tracker-Service-status">status page for important information.</a></p>
      </div>
    </div>
    <article class="container">
      <p>
        <a class="btn btn-primary btn-lg" href="/stats" role="button">Login to see the stats <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a>
      </p>
      <h3>Note: You must be an IBM'er to see them</h3>
    </article>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
