<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deployment Tracker</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
      <script src="/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>IBM Bluemix Deployment Tracker</h1>
        <p>Deployments of sample applications to <a href="https://www.bluemix.net/">IBM Bluemix</a></p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/IBM-Bluemix/cf-deployment-tracker-service" role="button">View the source code on GitHub <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
      </div>
    </div>
    <article class="container">
      <p>
        <a class="btn btn-primary btn-lg" href="/auth/ibmid" role="button">Login to see the stats <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a>
      </p>
      <h3>Note: You must be an IBM'er to see them</h3>
    </article>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
