<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deployment Tracker</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <style>
      .copy {
        cursor: pointer;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Deployment Tracker</h1>
        <p>Deployments of sample applications to <a href="https://www.bluemix.net/">IBM Bluemix</a></p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/IBM-Bluemix/cf-deployment-tracker-service" target="_blank" role="button">View the source code on GitHub <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
      </div>
    </div>
    <article class="container">
      <ol class="breadcrumb">
        <li><a href="/stats">Stats</a></li>
        <li class="active">Repository</li>
      </ol>
      <h1>Application Deployments for Repository</h1>
{{#each apps}}
      <section>
        <h2>{{#if url}}{{#if is_url}}<a href="{{url}}" target="_blank" aria-hidden="true">{{url}}</a>{{else}}{{url}}{{/if}}{{else}}<em>No repository URL</em>{{/if}}{{#if url_hash}} <a href="/stats/{{url_hash}}"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a>{{/if}} <span class="badge">{{count}}</span></h2>
        <div class="row">
          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Deployments by Month</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
{{#each this}}
{{#each this}}
                  <li class="list-group-item">
                    <span class="badge">{{this}}</span>
                    {{@../key}}-{{@key}}
                  </li>
{{/each}}
{{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">URL Hash</h3>
              </div>
              <div class="panel-body">
                <div class="input-group">
                  <input type="text" class="form-control" readonly="readonly" value="{{url_hash}}" />
                  <span class="input-group-addon copy">
                    <span class="glyphicon glyphicon-copy" data-clipboard-text="{{url_hash}}"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Deployment Badge</h3>
              </div>
              <div class="panel-body">
                <p><img src="/stats/{{url_hash}}/badge.svg" alt="Deployments"></p>
                <p>Embed this badge on the project's README or on related tutorials and blog posts.</p>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="image-url">Image URL:</span>
                  <input type="text" class="form-control" readonly="readonly" value="{{../protocolAndHost}}/stats/{{url_hash}}/badge.svg" aria-describedby="image-url" />
                  <span class="input-group-addon copy">
                    <span class="glyphicon glyphicon-copy" data-clipboard-text="{{../protocolAndHost}}/stats/{{url_hash}}/badge.svg"></span>
                  </span>
                </div>
                <br>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="markdown">Markdown:</span>
                  <input type="text" class="form-control" readonly="readonly" value="![Bluemix Deployments]({{../protocolAndHost}}/stats/{{url_hash}}/badge.svg)
" aria-describedby="markdown" />
                  <span class="input-group-addon copy">
                    <span class="glyphicon glyphicon-copy" data-clipboard-text="![Bluemix Deployments]({{../protocolAndHost}}/stats/{{url_hash}}/badge.svg)"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{{/each}}
    </article>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/zeroclipboard/dist/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var client = new ZeroClipboard($(".copy span"));
      });
    </script>
  </body>
</html>
