<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deployment Tracker</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Deployment Tracker</h1>
        <p>This service is deprecated. Refer to the <a href="https://github.com/IBM-Bluemix/cf-deployment-tracker-service/wiki/Deployment-Tracker-Service-status">status page for important information.</a></p>
      </div>
    </div>
    <article class="container">
      <ol class="breadcrumb">
        <li class="active">Stats</li>
      </ol>
      <h2>Application Deployments by Repository</h2>
      <p><a class="btn btn-default" href="/stats.csv" role="button">Download as CSV <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></p>
      {{#each apps}}
      <section>
        <h2>
          {{#if url}}
            {{#if is_url}}
              <a href="{{url}}" target="_blank">{{url}}</a>
              {{else}}{{url}}
            {{/if}}
          {{else}}
            <em>No repository URL</em>
          {{/if}}

          {{#if url_hash}}
            <a href="/stats/{{url_hash}}">
              <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            </a>
          {{/if}}
          <span class="badge">{{count}}</span>
        </h2>
        {{#if githubStats}}
        <div class="form-control" readonly="readonly">
          <span>Github Stats:</span>
          <a href="#">Clones <span class="badge">{{githubStats.Clones}}</span></a> |
          <a href="#">Visits <span class="badge">{{githubStats.Visits}}</span></a> |
          {{#if url_hash}}
            <a href="/stats/{{url_hash}}">
              More info...
              <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            </a>
          {{/if}}
        </div>
        {{/if}}
        {{#if url_hash}}<input type="text" class="form-control" readonly="readonly" value="{{url_hash}}">{{/if}}
        <ul class="list-group">
          {{#each deploys}}
          {{#each this}}
          <li class="list-group-item">
            <span class="badge">{{this}}</span>
            {{@../key}}-{{@key}}
          </li>
          {{/each}}
          {{/each}}
        </ul>
      </section>
    {{/each}}
    </article>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
